// Set your colors
$primary: #0053b1;
$twitter: #4099FF;

$menu-item-color: #ccc;
$menu-item-active-background-color: transparent;
$menu-item-active-color: $primary;
$menu-item-hover-background-color: rgba(255, 255, 255, 0.1);
$menu-item-hover-color: #ccc;

$navbar-item-hover-background-color: #f3f3f9;

// Links
$link: $primary;
$link-focus-border: $primary;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";
