// Set your colors
$primary: #0053b1;

@import "~bulma/sass/utilities/_all.sass";

$menu-item-color: darken($grey, 5%);
$menu-item-active-background-color: transparent;
$menu-item-active-color: lighten($grey, 4%);
