@import "variables";

.row-depth-1 {
  background-color: $grey-lightest;
  td {
    border-bottom-color: $grey-light
  }

  td:nth-child(2) {
    padding-left: 1.5rem;
  }
}

.row-depth-2 {
  background-color: $grey-lighter;
  td {
    border-bottom-color: $grey-light;
  }

  td:nth-child(2) {
    padding-left: 3rem;
  }
}

.row-depth-3 {
  background-color: darken($grey-lighter, 10%);
  td {
    border-bottom-color: darken($grey-light, 10%);
  }

  td:nth-child(2) {
    padding-left: 4.5rem;
  }
}