.left-navigation-container {
    padding: 0 !important;
    position: relative;
    height: 100%;
}

.left-navigation {
    padding: 2rem;
    position: fixed;
    background-color: #333;
    box-shadow: 0 0 10px inset #000;
    /* why these parameters? well because they JUST WORK */
    /* I avoided using top/left attributes because they seemed to create jolts with page transitions */
    width: 20%;
    margin-top: -6rem;
    height: calc(100vh + 6rem);
    padding-top: 7.5rem;
}

.column.pad {
    padding: 2rem;
}

.is-pulled-right {
    margin-left: auto;
}

/deep/ .router-link-exact-active {
    background-color: white;
    color: #333;
}

/deep/ .menu-list a {
    margin: 0 -2em;
    padding-left: 2.75em;
    padding-right: 2.75em;
    border-radius: 0;
}

/deep/ .router-link-exact-active:hover {
    background-color: white;
    color: #333;
}

/deep/ .menu .menu-list a {
    display: flex;
    align-items: center;
}

/deep/ .menu .menu-list a .icon {
    margin-right: 10px;
}
