.full-height-container {
    display: flex;
    flex-direction: column;
}
.column.full-height-container {
    display: flex;
}
.box.full-height-container {
    display: flex;
}

.scroll-container.pad,
.full-height-container.pad {
    padding: 2em;
}

.full-height-flex {
    flex: 1 1 auto;
}

.full-height {
    height: 100%;
}

.scroll-container {
    overflow-y: scroll;
}

.transition-element.is-loading {
    margin: 2rem auto;
    max-width: 100%;
    width: 30em;
}
